/* COLOR PALETTE
black: #111112
blue: #5da9f0
yellow: #ecc828
purple-pinkish: #cd63f7 maybe
*/
html, body {
    padding:0;
    margin:0;
    height:100%;
    width:100%;
    overflow-x:hidden;
}
p {
    color:#111112;
    margin:0;
    padding:0;
}
img {
   width:100%;
   border-radius: 8px 8px 0 0;
}
td {
   text-align:center;
}
/* USE P FOR EVEYTHING JUST CHANGE FONT, COLOR, AND SIZE IN THESE DIFFERENT CLASSES */
.xlh {
   font-family: 'Lexend Deca', sans-serif;
   font-size:60px;
   text-align: left;
   margin:0;
   /* word-spacing: -12px;
   letter-spacing:-4px; */
}
.lh {
   font-family: 'Lexend Deca', sans-serif;
   font-size: 40px;
   text-align: left;
   margin:0;
}
.h {
   font-family:'Space Grotesk', sans-serif; 
   font-size: 38px;
   text-align: left;
   margin:0;
}
.lt {
   font-family:'Space Grotesk', sans-serif; 
   font-size: 24px;
   margin:0;
}
.t {
   font-family:'Space Grotesk', sans-serif; 
   font-size:19px;
   margin:0;
}
.st { 
   font-family: 'Lexend Deca', sans-serif;
   font-size:16px;
   margin:0;
}
.handwriting {
   font-family: 'Schoolbell', cursive;

}
@media screen and (max-width:992px) {
   .xlh {
      font-size: 45px;
   }
   .lh {
      font-size: 32px;
   }
   .h {
      font-size:34px;
   }
   .lt {
      font-size:22px;
   }
   .t {
      font-size:16px;
   }
   .st {
      font-size:14px;
   }
}

.line {
    border-width:0;
    border-radius:12px;
    padding:0;
    margin-top:20px;
    margin-bottom:20px;
}
.line.blue {
    background-color:#5da9f0;
    height:4px;
}
.line.pink {
    background-color:#cd63f7;
    height:4px;
}
.line.yellow {
   background-color:#fcdd56;
   height:4px;
}


a.page-lin {
    color:#1111128f;
    transition: color 0.2s;
    display: block;
}
a.page-lin:hover {
    color:#111112;
}

.parallelogram {
    position:fixed;
    bottom:0;
    width: 100%;
    height: 20vh;
    transform: skew(0deg, 3deg) translate(0vh, 12vh);
    background:#5da9f0;
}
