
.left-side,.right-side {
    padding:0;
    margin:0;
    height: 100vh;
    width:100%;
    position:relative;
}

@media screen and (min-width:992px) {
    .left-side, .right-side {
        height:100vh;
    }
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width:fit-content;
    transform: translate(-50%, -50%);
}

.link-icon {
    width:50px;
    height:50px;
    text-decoration: none;
    transition: transform 0.3s, opacity 1s;
    display: inline-block;
    transform: scale(1, 1);
    opacity:0.5;
    background-repeat:no-repeat;
    margin:15px;
    /* filter: drop-shadow(2px 2px 1px rgba(21, 29, 39, 0.6)); */
}
.link-icon:hover {
    opacity:1;
    transform: scale(1.15, 1.15);
}

.blinking-cursor {
    font-family: 'Roboto Mono', monospace;
    font-size:65px;
    color: #111112;
    display:inline-block;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}